// wherever we have long form body copy
// we just want to make sure the line length isn't too long
// and there's a readable sort of background
.c-copy {
  box-sizing: content-box;
  @include backdrop($opacity: 0.9);
  @include pattern(graph, currentColor, b, false, 0.1);
  padding: var(--theme-spacing--6);
  max-width: var(--theme-spacing--linelength);
}
