.c-page-footer {
  border-top: var(--theme-border--thick);
  border-image: var(--theme-border-image);

  &__author,
  &__author-link {
    font: 100 var(--theme-type-size--3) var(--theme-font--display);
    margin-bottom: var(--theme-spacing--6);
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: var(--theme-color--ink);
  }

  &__section-nav {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  &__forwards {
    text-align: right;
  }

  &__edit {
    place-self: center;
    color: var(--theme-color--ink-fade);
  }
}
