.c-splash {
  // background: var(--theme-color--ink);
  // color: var(--theme-color--paper);

  @include backdrop(true, true, 0.6);
  border-top: var(--theme-spacing--gutter) solid var(--theme-color--pop);
  border-radius: 8px 8px 2px 2px;
  padding: var(--theme-spacing--gutter);
  max-width: var(--theme-spacing--linelength);
  font: var(--theme-font--system);

  strong,
  a {
    font-size: var(--theme-type-size--4);
    font-weight: 700;
  }
  strong {
    color: var(--theme-color--pop);
    display: block;
    line-height: 2;
  }
}
