.c-text {
  box-sizing: content-box;
  max-width: var(--theme-spacing--linelength);
  padding: var(--theme-spacing--6);
  @include backdrop($opacity: 0.9);
  @include pattern(graph, currentColor, b, false, 0.2);

  h2 {
    text-decoration: underline;
    text-decoration-color: var(--theme-color--pop);
  }
}
