.c-page-footer {
  border-top: var(--theme-border--thick);
  border-image: var(--theme-border-image);
  @include grid-assign(backwards, edit, forwards);
  &__section,
  &__section-link {
    margin: 0 auto var(--theme-spacing--6) auto;
  }

  &__section-nav {
    display: grid;
    grid-template: "backwards edit forwards" auto / 1fr 1fr 1fr;
  }

  &__forwards {
    text-align: right;
  }

  &__edit {
    place-self: center;
    color: var(--theme-color--ink-fade);
  }
}
