.l-header {
  @include grid-assign(heading, action, nav);
  @include pattern(dots, var(--theme-color--pop), null, true, 0.5);
  grid-template:
    " . ... . " var(--theme-spacing--gutter)
    " . nav ." minmax(0, 1fr)
    " . ... ." var(--theme-spacing--gutter) / minmax(
      var(--theme-spacing--gutter),
      1fr
    )
    var(--theme-spacing--container) minmax(var(--theme-spacing--gutter), 1fr);

  &__nav {
    display: grid;

    grid-template:
      ". heading heading action" auto / min-content 1fr var(
        --theme-spacing--touchtarget
      )
      var(--theme-spacing--touchtarget);
  }

  &__heading {
    font: var(--theme-font--brand);
    font-size: var(--theme-type-size--1);
    color: var(--theme-color--accent);
  }

  &__action.is-fixed {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 0;
  }
}
