.l-menu {
  --ink: var(--theme-color--paper);
  --paper: var(--theme-color--ink);

  @include grid-assign(heading, action, primary, search, container);
  background: var(--paper);
  color: var(--ink);
  min-height: calc(100vh - calc(100vh - 100%));
  min-width: 100vw;
  position: absolute;
  left: -100vw;
  transition: left cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  &.is-active {
    left: 0;
    z-index: 1;
  }

  grid-template:
    " . ... . " var(--theme-spacing--gutter)
    " . container ." minmax(0, 1fr)
    " . ... ." var(--theme-spacing--gutter) / minmax(
      var(--theme-spacing--gutter),
      1fr
    )
    var(--theme-spacing--container) minmax(var(--theme-spacing--gutter), 1fr);

  &__container {
    display: grid;
    grid-template:
      "heading ....... action" auto
      "....... ....... ......" var(--theme-spacing--gutter)
      "primary primary primary" 1fr
      "....... search  search" auto / var(--theme-spacing--logo) 1fr var(--theme-spacing--touchtarget);
  }

  &__link {
    text-transform: lowercase;
  }

  &__search {
    margin-left: auto;
  }

  &__logo {
    --theme-color--ink: var(--ink);
  }
}
