.c-menu-toggle {
  --button-background-color: transparent;
  --button-border-color: transparent;
  --button-box-shadow: none;
  padding-top: 0; // just make sure this is zeroed out so toggles always line up
  @include on-event {
    border-color: transparent;
    background-color: transparent;
    color: var(--theme-color--pop);
  }
  &__icon {
    width: var(--theme-spacing--gutter);
    height: auto;
    min-height: none;
    @include on-event(false, ".c-menu-toggle") {
      mix-blend-mode: difference;
    }
  }
}
