.e-button {
  // reset
  appearance: none;
  font: 900 100% var(--theme-font--display);
  text-decoration: none;
  text-align: center;
  line-height: 0.875;
  white-space: nowrap;
  display: inline-flex;
  place-items: center;
  place-content: center;
  min-width: fit-content;
  height: fit-content;
  gap: var(--theme-spacing--2);

  // styles
  color: var(--theme-color--paper);
  background-color: var(--theme-color--pop);
  border: var(--theme-border);
  border-radius: var(--theme-border-radius);
  border-color: var(--theme-color--accent);
  box-shadow: 2px 5px var(--theme-color--accent);
  padding: var(--theme-spacing--1) var(--theme-spacing--2);
  transition: background-color 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    border-color 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @include on-event {
    color: var(--theme-color--accent);
    background-color: var(--theme-color--paper);
    border-color: currentColor;
    text-decoration: none;
  }
  &:focus {
    outline: 3px dotted;
  }

  //elements

  &__icon,
  &--icon {
    width: 48px;
    min-width: 48px;
    padding: 4px;
    border: 0;
    background: transparent;
    box-shadow: 0;
    color: currentColor;
    place-content: center;

    @include on-event {
      background: transparent;
    }
  }
  // modifiers
  &--active {
    path {
      fill: var(--theme-color--add);
    }
  }
  &--small {
    align-items: center;
    font-size: 1rem;
  }
  &--secondary {
    background: var(--theme-color--paper);
    color: var(--theme-color--ink);
  }

  &--mega {
    font-size: var(--theme-type-size--4);
  }

  &--submit {
    background: var(--theme-color--add);
    border-color: var(--theme-color--add);

    @include on-event {
      background-color: var(--theme-color--add-event);
      border-color: var(--theme-color--add-event);
      color: var(--theme-color--paper);
    }
  }
}
