// details and summary are a built in accessible accordion
// they could show up in cms text so we put a basic style on here

summary {
  margin-bottom: var(--theme-spacing--2);

  &::marker {
    color: var(--theme-color--brand);
    font-size: var(--theme-type-size--3);
  }
}

details {
  padding: var(--theme-spacing--gutter) var(--theme-spacing--gutter) 0
    var(--theme-spacing--gutter);
  box-shadow: var(--theme-border--shadow);
}
