{{ $contributors := getJSON
"https://api.github.com/repos/CodeYourFuture/immersive-go-course/contributors"}}

<ol class="c-contributors">
  {{ range sort $contributors ".contributions" "desc"}}
  <li class="c-contributor">
    <h3 class="c-contributor__name">
      <a class="c-contributor__link" href="{{.html_url}}">{{.login}}</a>
    </h3>
    <data class="c-contributor__commits">{{.contributions}}</data>
    <img class="c-contributor__avatar" src="{{.avatar_url}}" alt="" />
  </li>
  {{ end }}
</ol>
