@mixin backdrop($border: false, $gradient: true, $opacity: 0.5) {
  backdrop-filter: blur(100px) opacity($opacity);
  -webkit-backdrop-filter: blur(100px) opacity($opacity);
  padding: var(--theme-spacing--gutter);
  min-width: var(
    --theme-spacing--container-min
  ); // !mn fairly arbitrary, just don't want tiny squished boxes

  @if $gradient {
    background: linear-gradient(
      to top,
      var(--theme-color--backdrop-from),
      var(--theme-color--backdrop-to)
    );
  }

  @if $border {
    border: var(--theme-border--highlight);
    border-color: var(--theme-color--outline);
  }
}
