:root {
  --theme-border: 0.5px solid var(--theme-color--pop);
  --theme-border-radius: 0;
  --theme-border--thick: 4px solid;
  --theme-border--highlight: 0.5px solid var(--theme-color--paper);
  --theme-border--underline: 0.5px solid var(--theme-color--ink);
  --theme-border--ribbon: 10px solid var(--theme-color--brand);
  --theme-border--inset: inset 0 -10px 10px -10px var(--theme-color--outline);
  --theme-border--shadow: 1px 1px 10px var(--theme-color--outline);
}
