:root {
  --theme-font--display: "Spectral", "Playfair Display", "Raleway", serif;
  --theme-font--copy: "Hanken Grotesk", "Roboto", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --theme-font--brand: 900 100% "Roboto", serif;
  --theme-font--system: 100 100%/2 "Monaco", "Menlo", monospace;
}
