{{- partial "head.html" . -}}
<body>
  <a class="c-skip-link e-button" id="skip-link" href="#main">Skip to main</a>
  <div class="l-layout">
    <header class="l-layout__header l-header">
      <div class="l-header__nav">
        <h1 class="l-header__heading e-heading e-heading__1">
          <a class="l-header__home" href="/">{{.Site.Title}}</a>
        </h1>
        <button
          class="l-header__action c-menu-toggle e-button js-menu-toggle is-watched"
        >
          <span class="c-menu-toggle__bar c-menu-toggle__bar--top"></span>
          <span class="c-menu-toggle__bar c-menu-toggle__bar--middle"></span>
          <span class="c-menu-toggle__bar c-menu-toggle__bar--bottom"></span>
          <span class="is-invisible">Open Menu.</span>
        </button>
      </div>
    </header>
    {{ partial "partials/menu.html" . }}
    <main id="main" class="l-layout__main l-main">
      {{ block "main" . }} {{ end }}
    </main>

    {{- partial "foot.html" . -}}
  </div>
</body>
