{{ define "main" }}
<header class="c-page-header c-page-header--list">
  <!-- set up page header-->

  <div class="c-page-header__container">
    <h1 class="c-page-header__title e-heading e-heading__1">{{.Title}}</h1>

    {{ if .Pages }}
    <aside class="c-toc c-page-header__toc is-none--lt-container">
      <ol>
        {{ range .Pages }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end}}
      </ol>
    </aside>
    {{ end }}
  </div>
</header>

<!-- version pages -->
{{ if (eq .Section "versions") }}

{{ if eq .Page.Path "versions/flattened/1-0-0.md" }}
  {{ .Content }}
  {{ range .Site.Taxonomies.versions }}
    {{ range .Pages.Reverse }}
      <div style="margin-bottom: 40px; border-bottom: 1px solid black; width: 55vw;">
        <h1>{{ .Page.Title }}</h1>
        {{ .Page.Content }}
      </div>
    {{ end }}
  {{ end }}

{{ else }}

<article class="{{ with .Content }}c-copy{{end}}">
  {{ .Content }}
  <ol class="c-timeline">
    {{ range .Pages.Reverse }}
    <li class="c-timeline__entry">{{ partial "timeline.html" . }}</li>
    {{ end }}
  </ol>
</article>
{{ partial "breadcrumbs.html" . }}
{{ end }}
{{ end }}
<!-- 
  end version pages 
-->
<!-- 
  other list pages 
-->
{{ if not (eq .Section "versions") }}
<!-- 
  main content 
-->
{{ with .Content }}
<article class="c-copy">{{.}}</article>
{{ end}}
<!-- 
  page links
-->
{{ partial "cells.html" .}}

<!-- end if not Versions -->
{{ end}} {{end}}
