{{ define "main" }}

<article>
  <header class="l-page__header c-page-header">
    <div class="c-page-header__container">
      <div class="c-page-header__breadcrumbs">
        {{ partial "breadcrumbs.html" . }}
      </div>
      <h1
        class="c-page-header__title e-heading__1 is-invisible{{with .Params.showTitle }}is-visible{{end}}"
      >
        {{.Title}}
      </h1>
      {{ with .Params.author}}
      <a
        class="c-page-header__author e-heading__5 e-link is-none--lt-container"
        href="{{$.Site.BaseURL}}about/contributors"
        >{{.}}</a
      >
      {{ end}} {{with .Params.showTitle }}{{ else }}
      <h2 class="c-page-header__lastmod">
        .Lastmod
        <a href="{{.Site.Params.tree}}{{.File.BaseFileName}}">
          {{if not .Lastmod.IsZero }} {{ $lm:= .Lastmod.Format "January 2, 2006"
          }}
          <time datetime="{{ .Lastmod }}"
            >{{ .Lastmod.Format "January 2, 2006" }}</time
          >
          {{ else }} {{$lm:= now.Format "January 2, 2006" }}
          <time datetime="{{ now}}">{{ $lm }}</time>
          {{ end}}
        </a>
      </h2>
      {{ end}} {{ if and (gt .WordCount 400 ) (.TableOfContents) }}
      <section class="c-page-header__toc c-toc" id="toc">
        {{ .TableOfContents }}
      </section>
      {{ end }}
    </div>
  </header>

  <section class="l-page__main c-copy">{{.Content}}</section>

  {{ if .Params.hideFooter }} {{ else}} {{ partial "page-footer.html" .}} {{
  end}}
</article>

{{ end }}
