{{ define "main" }}

<article>
  <header class="l-page__header c-page-header">
    <div class="c-page-header__container">
      <div class="c-page-header__breadcrumbs">
        {{ partial "breadcrumbs.html" . }}
      </div>
      <h1
        class="c-page-header__title e-heading__1 is-invisible{{with .Params.showTitle }}is-visible{{end}}"
      >
        {{.Title}}
      </h1>
      {{with .Params.showTitle }}{{ else }} {{ if or (eq .Section "projects")
      (eq .Section "primers")}} {{$pathAsString := print $.Site.Params.tree
      .Path }} {{$changeIndexToReadMe := replace $pathAsString "index.md"
      "README.md"}}
      <a
        class="c-page-header__edit e-heading__5 e-link is-none--lt-container"
        href="{{$changeIndexToReadMe}}"
        >Edit on Github</a
      >
      {{ end}} {{ partial "lastmod.html" . }} {{ end}} {{ if and (gt .WordCount
      400 ) (.TableOfContents) }}
      <section class="c-page-header__toc c-toc" id="toc">
        {{ .TableOfContents }}
      </section>
      {{ end }}
    </div>
  </header>

  <section class="l-page__main c-copy">{{.Content}}</section>

  {{ partial "page-footer.html" .}}
</article>

{{ end }}
