$heading__levels: 1, 2, 3, 4, 5, 6;
@each $h in $heading__levels {
  h#{$h},
  .e-heading__#{$h} {
    font-family: var(--theme-font--display);
    font-size: var(--theme-type-size--#{$h});
    font-weight: 900;
    margin: 0;
  }
  // unstyled headings from markdown/ body copy need some relational breathing space
  h#{$h}:not([class]) {
    margin-bottom: 0.75em;
  }
}

h1,
.e-heading__1,
h4,
.e-heading__4 {
  text-transform: uppercase;
  background-color: transparent;
  max-width: calc(var(--theme-spacing--linelength) / 2);
}

h4,
.e-heading__4 {
  color: var(--theme-color--accent);
}

h2:not([class])::after {
  content: "";
  width: 4ch;
  height: 4px;
  display: block;
  background-image: linear-gradient(
    45deg,
    var(--theme-color--accent),
    var(--theme-color--pop)
  );
}

h1,
.e-heading__1 {
  font-weight: 700;
}
