<nav class="c-breadcrumbs">
  <ol class="c-breadcrumbs__list">
    {{- range .Ancestors.Reverse }}
    <li class="c-breadcrumbs__item">
      <a class="c-breadcrumbs__link" href="{{ .Permalink }}"
        >{{ .Title }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          width="24px"
          stroke-width="1.5"
          stroke="currentColor"
          class="c-breadcrumbs__icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </a>
    </li>
    {{- end }}
    <li class="c-breadcrumbs__item is-current" aria-current="page">
      <a class="c-breadcrumbs__link" href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
  </ol>
</nav>
