<header class="l-layout__header l-header">
  <div class="l-header__nav">
    <h1 class="l-header__heading">
      <a class="l-header__home" href="/">{{.Site.Title}}</a>
    </h1>

    <button
      class="l-header__action c-menu-toggle e-button js-menu-toggle is-fixed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="c-menu-toggle__icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
        />
      </svg>

      <span class="is-invisible">Open Menu.</span>
    </button>
  </div>
</header>
