<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Site.Title}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $sass := resources.Match "styles/**.scss" | resources.Concat
    "bundled.css" }} {{ $style := $sass | toCSS | minify | fingerprint "md5" }}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    </noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;700&family=Spectral&family=Major+Mono+Display&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
  </head>
</html>
