<nav class="l-layout__menu l-menu" aria-label="Main Site Links." id="site-menu">
  <div class="l-menu__container">
    <h2 class="l-menu__heading">{{.Site.Title}}</h2>
    <button class="l-menu__action c-menu-toggle e-button js-menu-toggle">
      <span class="c-menu-toggle__bar"></span>
      <span class="c-menu-toggle__bar"></span>
      <span class="c-menu-toggle__bar"></span>
      <span class="is-invisible">Close Menu.</span>
    </button>
    <ul class="l-menu__primary e-list">
      <li class="l-menu__item e-list__item">
        <a class="l-menu__link e-link" href="/projects">Projects</a>
      </li>
      <li class="l-menu__item e-list__item">
        <a class="l-menu__link e-link" href="/primers">Primers</a>
      </li>
      <li class="l-menu__item e-list__item">
        <a class="l-menu__link e-link" href="/workbooks">Workbooks</a>
      </li>
    </ul>
  </div>
</nav>
