{{ $quads := readDir "static/pictures/svgs/quads" | shuffle |first 1 }} {{
$neons := readDir "static/pictures/svgs/neons" | shuffle | first 1 }}

<script>
  function randomBG() {
    const style = document.createElement("style");
    style.textContent = `body, html {background-image:url("{{.Site.BaseURL}}pictures/svgs/neons/{{ range $neons }}{{ .Name }}{{ end }}"),url("{{.Site.BaseURL}}pictures/svgs/quads/{{ range $quads }}{{ .Name }}{{ end }}"),radial-gradient(circle,var(--theme-color--paper) 0%,var(--theme-color--block) 50%,var(--theme-color--paper) 100%);
      background-size: cover;
    }`;

    document.head.appendChild(style);
  }

  window.addEventListener("load", randomBG);
</script>
