name: buggy-app tests
on: [push]
defaults:
  run:
    working-directory: buggy-app
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "buggy-app/go.mod"
          cache-dependency-path: "buggy-app/go.sum"
          cache: true
      - name: Test
        run: make migrate test
